<footer class="footer py-1 px-0 mt-auto" style="background-color: #013a63;">
    <div class="container  text-center">
        <span style="color: rgba(255, 255, 255,0.7);">&copy; TRAVEL <span style="font-style: italic;">diaries</span>
            2022</span>
    </div>
</footer>