@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

#diary {
  box-shadow: 0 0 5px #333;
  max-width: 100vw;
}

#diary img {
  height: 500px;
  width: 100vw;
  object-fit: contain;
  background-color: #212529;
}

#diary h5 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1.5px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
#diary p:first-of-type {
  margin-top: 3px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

#diary hr {
  border-bottom: 2px solid #1f1209;
  box-shadow: 0 40px 40px -20px #333;
}

#diary p.h4 {
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  color: #be0aff;
}

#diary p#desc {
  font-size: 16px;
  font-family: "Ubuntu Mono", monospace;
}

#diary p#user {
  color: #03045e;
  font-size: 13px;
  font-weight: 500;
}

#like {
  font-size: 1rem;
  box-shadow: 0 2px 7px rgba(74, 73, 73, 0.46),
    0 3px 6px rgba(108, 108, 108, 0.32);
}

#like:active {
  transform: scale(0.98);
}

.card-footer {
  font-size: 13px;
}

#backHome a {
  padding: 4px 8px;
  font-size: 1.3rem;
  font-family: "Eczar", serif;
  box-shadow: 0 2px 7px rgba(74, 73, 73, 0.46),
    0 3px 6px rgba(108, 108, 108, 0.32);
}

#backHome a:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#reviews {
  padding-right: 30px;
  /* border-right: 0.1px solid #222; */
}

#reviews h4 {
  font-size: 20px;
}

#reviews h6 {
  font-size: 13px;
}

#reviews p {
  font-size: 18px;
}

#map {
  padding-left: 30px;
}

#review {
  border: 1px solid #e09f3e;
  background: linear-gradient(
    100deg,
    rgba(250, 214, 195, 0.8) 30%,
    #b0eae8 120%
  );
}
