<% layout('layouts/boilerplate')%>
    <h1>Add Diary</h1>
    <form action="/diaries" method="POST">
        <div>
            <label for="title">Title: </label>
            <input type="text" id="title" name="diaries[title]">
        </div>
        <div>
            <label for="location">Location: </label>
            <input type="text" id="location" name="diaries[location]">
        </div>
        <button>Add Diary</button>
    </form>
    <a href="/diaries">All Diaries</a>