<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Diary</title>
    </head>

    <body>
        <h1>Add Diary</h1>
        <form action="/diaries" method="POST">
            <div>
                <label for="title">Title: </label>
                <input type="text" id="title" name="diaries[title]">
            </div>
            <div>
                <label for="location">Location: </label>
                <input type="text" id="location" name="diaries[location]">
            </div>
            <button>Add Diary</button>
        </form>
        <a href="/diaries">All Diaries</a>
    </body>

</html>